<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Schedule - Work Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}
    <!-- Main Content -->
    <div class="content-container">
        <h1>Generated Schedule for {{ current_week }}</h1>
        <div class="button-group">
            <a href="/edit_schedule" class="btn">Edit Schedule</a>
        </div>
        {% for employee_username in schedules.keys() %}
            <h2>{{ users[employee_username]['first_name'] }} {{ users[employee_username]['last_name'] }}</h2>
            <div class="calendar">
                {% for day in week_dates %}
                <div class="calendar-day">
                    <div class="calendar-day-header">
                        {{ day.strftime('%A') }}<br>{{ day.strftime('%Y-%m-%d') }}
                    </div>
                    {% set shifts_for_day = schedules[employee_username]|selectattr('date', 'equalto', day.strftime('%Y-%m-%d'))|list %}
                    {% if shifts_for_day %}
                        {% set shift = shifts_for_day[0] %}
                        <div class="shift">
                            {{ shift.start_time | datetimeformat }} - {{ shift.end_time | datetimeformat }}
                        </div>
                    {% else %}
                        <div class="off">
                            Off
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
